/* Reset and Global Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    background-color: #ffffff;
    font-family: 'Georgia', serif;
    /* height: 100%; */
}

/* Header Container */
.header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: flex-end; 
    border-bottom: 1px solid rgba(211, 204, 204, 0.3); /* Subtle border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* border shadow*/

}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-button {
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding: 5px 15px; 
    border: none;
}

.header-button:hover {
    cursor: pointer;
    background-color: rgb(248, 248, 248);
}

/* Grid Container */
.folder-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */

    gap: 40px 30px;
    padding: 40px 50px;
    justify-items: center;
}


/* Individual Box Styling */
.box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(198, 198, 198);
    
    cursor: pointer;
    background: transparent;
    transition: transform 0.2s;
  }

/* Hover Effect */
.box:hover {
    /* color: #000; */
    color: rgb(115, 115, 244);
    /* background-color: rgba(115, 115, 244, 0.1); */
    background-color: rgb(248, 248, 248);
    transform: scale(1.05); /* zoom-in effect */
}

/* Folder Icon Styling */
.box i {
    font-size: 100px; /* Adjust icon size here */
}

/* Label Styling */
.label {
    margin-top: 5px;
    /* text-align: center;     */
    /* bottom: 5px;  */
    font-size: 14px;
    /* color: rgb(211, 204, 204); */
    color: rgb(0, 0, 0);
}


/* Notes Page Styling */
.notes-header {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #bbbbbb;
    font-weight: bold;
    transition: color 0.2s ease;
}
.notes-header:hover{
    color: #1e1d1d;

}


#content, #folder-title{
    /* display: block; */
    margin-left: 20px;
    
}

#content ul {
    /* list-style: none; */
    /* padding: 0; */
    margin-left: 10px;
}

#content a {
    display: block;
    width: 100px;
    padding: 10px;
    margin: 8px 0;
    background: rgb(255, 255, 255);
    /* border-left: 3px solid #5c7cfa; */
    text-decoration: none;
    color: #333;
}

#content a:hover {
    background: #f0f4ff;
    padding-left: 15px;
}